<a data-toggle="collapse" data-parent={{parent}} href="#highlight{{index}}" aria-expanded="false" aria-controls="highlight{{index}}" {{action 'switchToggleIcon'}}>
  {{model.title}}
  <span class="toggle-icon float-right">
    <i class="fa fa-icon {{toggleIcon}}" ariaLabel="Click Me"></i>
  </span>
</a>
<div id="highlight{{index}}" class="collapse" role="tabpanel">
  <div class="my-3">
    {{model.content}}
  </div>
</div>
