<td>
  {{#if (eq model.subjects.length 1)}}
    {{#let model.subjects.lastObject as |post|}}
      <span class="resource-links">
        <span>
          <a href="{{post.link}}" target="_blank">{{model.title}}</a>
        </span>
      </span>
    {{/let}}
  {{else}}
    <strong>{{model.title}}</strong>
    <br>
    <ul class="resource-links mb-0">
      {{#each model.subjects as |subject|}}
        <li>
          {{subject.subject}}:
          {{#each subject.posts as |post|}}
            <span>
              <a href="{{post.link}}" target="_blank">{{post.text}}</a>
            </span>
          {{/each}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</td>
