<a class="logo-link {{if (lte model.year 2012) "small" ""}} img-thumbnail d-flex align-items-center justify-content-center mb-3" href="{{model.link}}" target="_blank">
  <img src="assets/images/logos/sponsors/{{model.imageFileName}}" class="{{model.imageClass}}" alt="{{model.name}}" />
</a>
