---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      <h2>Faculty</h2>
      {% for profile in page.profiles %}
        {% if profile.role == 'Faculty' %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/people/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <br>
      <h2>Graduate Students</h2>
      {% for profile in page.profiles %}
        {% if profile.role == 'CurrentGradStudent' %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/people/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <br>
      <h2>Visiting Students</h2>
      <br>
      {% for profile in page.profiles %}
        {% if profile.role == 'CurrentVisitingStudent' %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/people/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <br>
      <br>
    <h2>Caltech Faculty Collaborators</h2>
    <br>
      {% for profile in page.profiles %}
        {% if profile.role == 'CaltechFacultyCollaborator' %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/people/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <br>
    <h2>Administrative Assistant</h2>
    <br>
      {% for profile in page.profiles %}
        {% if profile.role == 'Admin' %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/people/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <br>

      <br>
      <h2>Previous Graduate Students</h2>
      <hr>
      <div class="grid-wrapper">
        <div class="grid">
          {% for profile in page.profiles %}
            {% if profile.role == 'PreviousGrad' %}
              <div class="grid-sizer"></div>
              <div class="grid-item" style="width:30%; margin-bottom:10px;">
                <div class="card">
                  <div class="card-body">
                      <h2 class="name">{{ profile.name }}</h2>
                      <hr>
                      <a href="{{ profile.portfolio_link }}" class="portfolio-link" style = "color:#17a2b8">Website</a>
                      <p class = "description" style = "margin-top:0px;">{{ profile.date }}</p>
                      <p class = "description" style = "margin-top:0px;">{{ profile.current }}</p>
                      
                      <p class = "description" style = "margin-top:0px;">{{ profile.lineBreak }}</p>
                    
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <h2>Previous Postdoctoral Researchers</h2>
      <hr>
      <div class="grid-wrapper">
        <div class="grid">
          {% for profile in page.profiles %}
            {% if profile.role == 'PreviousPostdoc' %}
              <div class="grid-sizer"></div>
              <div class="grid-item" style="width:30%; margin-bottom:10px;">
                <div class="card">
                  <div class="card-body">
                    <div class="header-section">
                      <h2 class="name">{{ profile.name }}</h2>
                      <p class="date" style = "margin-top:0px">{{ profile.date }}</p>
                    </div>
                    <hr>
                        {% if profile.portfolio_link %}
                          <a href="{{ profile.portfolio_link }}" class="portfolio-link" style = "color:#17a2b8;margin-top:0px">Website</a>
                        {%else%}
                          <a class="portfolio-link"></a>
                        {% endif %}
                        <p class="description" style = "margin-top:0px">{{ profile.description }}</p>
                        <p class="description" style = "margin-top:0px">{{ profile.lineBreak }}</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <h2>Previous Student Visitors</h2>
      <br>
      <div class="grid-wrapper">
        <div class="grid">
          {% for profile in page.profiles %}
            {% if profile.role == 'PreviousVisitingStudent' %}
              <div class="grid-sizer"></div>
              <div class="grid-item" style="width:30%; margin-bottom:10px;">
                <div class="card">
                  <div class="card-body">
                      <h2 class="name">{{ profile.name }}</h2>
                      <p class="date" style = "margin-top:0px">{{ profile.date }}</p>
                      <hr>
                      {% if profile.portfolio_link %}
                      <a href="{{ profile.portfolio_link }}" class="portfolio-link" style = "color:#17a2b8; margin-top:0px;">Website</a>
                      {% endif %}
                      <p class="description" style = "margin-top:0px">{{ profile.description }}</p>
                      <p class="description" style = "margin-top:0px">{{ profile.university }}</p>
                      <p class="description" style = "margin-top:0px">{{ profile.lineBreak }}</p>
                      
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <br>
      <h2>Previous Faculty Visitors</h2>
      <br>
      <div class="grid-wrapper">
        <div class="grid">
          {% for profile in page.profiles %}
            {% if profile.role == 'PreviousVisitingFaculty' %}
              <div class="grid-sizer"></div>
              <div class="grid-item" style="width:30%; margin-bottom:10px;">
                <div class="card">
                  <div class="card-body">
                      <h2 class="name">{{ profile.name }}</h2>
                      <p class="date" style = "margin-top:0px">{{ profile.date }}</p>
                      <hr>
                      <p class="description" style = "margin-top:0px">{{ profile.university }}</p>
                      <p class="description" style = "margin-top:0px">{{ profile.lineBreak }}</p>
                      <p class="description" style = "margin-top:0px">{{ profile.description }}</p>
                      
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <br>

    {% endif %}
  </article>

</div>
