---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      <h1>Faculty</h1>
      {% for profile in page.profiles %}
        {% if profile.role == 'Faculty' %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/people/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <br>
    <h1>Caltech Collaborators</h1>
    <br>
      {% for profile in page.profiles %}
        {% if profile.role == 'Collaborators' %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/people/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <br>
      <h1>Current Members</h1>
      <br>
      <h2>Graduate Members</h2>
      {% for profile in page.profiles %}
        {% if profile.role == 'Current' %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/people/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <br>
      <h2>Visiting Students</h2>
      <br>
      {% for profile in page.profiles %}
        {% if profile.role == 'Current-visiting' %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/people/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
      <br>
      <br>
      <h1>Previous Members</h1>
      <br>
      <h2>Postdoctoral Researchers</h2>
      <hr>
      <div class="grid-wrapper">
        <div class="grid">
          {% for profile in page.profiles %}
            {% if profile.role == 'Postdoctoral' %}
              <div class="grid-sizer"></div>
              <div class="grid-item" style="width:30%; margin-bottom:10px;">
                <div class="card">
                  <div class="card-body">
                    <div class="header-section">
                      <h2 class="name">{{ profile.name }}</h2>
                      <p class="date">{{ profile.date }}</p>
                    </div>
                    
                      <div class="portfolio-description-wrapper">
                        {% if profile.portfolio_link %}
                          <a href="{{ profile.portfolio_link }}" class="portfolio-link" style = "color:#D3D3D3">Portfolio</a>
                        {%else%}
                          <a class="portfolio-link">...</a>
                        {% endif %}
                        <p class="description">{{ profile.description }}</p>
                      </div>
                    


                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <br>
      <h2>Graduate Students</h2>
      <hr>
      <div class="grid-wrapper">
        <div class="grid">
          {% for profile in page.profiles %}
            {% if profile.role == 'Grad' %}
              <div class="grid-sizer"></div>
              <div class="grid-item" style="width:30%; margin-bottom:10px;">
                <div class="card">
                  <div class="card-body">
                    
                      <h2 class="name">{{ profile.name }}</h2>
                      <p class="date">{{ profile.date }}</p>
                    
                    <div class="portfolio-description-wrapper">
                      <a href="{{ profile.portfolio_link }}" class="portfolio-link" style = "color:#D3D3D3">Portfolio</a>
                      {% if profile.description%}
                      <p class="description">{{ profile.description }}</p>
                      {% else %}
                      <br><br>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <br>
      <h1>Visitors</h1>
      <hr>
      <h2>Faculty</h2>
      <br>
      <div class="grid-wrapper">
        <div class="grid">
          {% for profile in page.profiles %}
            {% if profile.role == 'Visitors-faculty' %}
              <div class="grid-sizer"></div>
              <div class="grid-item" style="width:30%; margin-bottom:10px;">
                <div class="card">
                  <div class="card-body">
                    
                      <h2 class="name">{{ profile.name }}</h2>
                      <p class="date">{{ profile.date }}</p>
                    
                    <div class="portfolio-description-wrapper">
                      <a href="{{ profile.portfolio_link }}" class="portfolio-link" style = "color:#D3D3D3">Portfolio</a>
                      {% if profile.description%}
                      <p class="description">{{ profile.description }}</p>
                      {% else %}
                      <br><br>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <br>
      <h2>Ph.D. Students</h2>
      <br>
      <div class="grid-wrapper">
        <div class="grid">
          {% for profile in page.profiles %}
            {% if profile.role == 'PastVisitingPhDStudents' %}
              <div class="grid-sizer"></div>
              <div class="grid-item" style="width:30%; margin-bottom:10px;">
                <div class="card">
                  <div class="card-body">
                    
                      <h2 class="name">{{ profile.name }}</h2>
                      <p class="date">{{ profile.date }}</p>
                    
                    <div class="portfolio-description-wrapper">
                      <a href="{{ profile.portfolio_link }}" class="portfolio-link" style = "color:#D3D3D3">Portfolio</a>
                      {% if profile.description%}
                      <p class="description">{{ profile.description }}</p>
                      {% else %}
                      <br><br>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </article>

</div>
