<div class="jumbotron jumbotron-home-banner jumbotron-fluid">
  <div class="container">
    <div class="jumbotron-content text-light">
      <h1 class="display-3"></h1>
      <p class="lead"></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="lead text-center">&nbsp;</p>
    </div>
  </div>
</div>

<div class="bg-gray mb-3">
  <div class="container py-3">
    <div class="row">
      <div class="col-12 my-3">
        <h2 class="sr-only">Research</h2>
        <div class="researches row">
          <div class="research col-md-6 col-lg-3 my-3">
            <div class="bg-psss clickable" {{action "redirectTo" "research.power-systems-steady-state"}}>
              <h3>Power Systems: Steady State</h3>
            </div>
          </div>
          <div class="research col-md-6 col-lg-3 my-3">
            <div class="bg-power-systems-dynamics clickable" {{action "redirectTo" "research.power-systems-dynamics"}}>
              <h3>Power Systems: Dynamics</h3>
            </div>
          </div>
          <div class="research col-md-6 col-lg-3 my-3">
            <div class="bg-electric-vehicles clickable" {{action "redirectTo" "research.electric-vehicles"}}>
              <h3>Electric Vehicles (EV)</h3>
            </div>
          </div>
          <div class="research col-md-6 col-lg-3 my-3">
            <div class="bg-communication-networks clickable" {{action "redirectTo" "research.communication-networks"}}>
              <h3>Communication Networks</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3 py-3">
  <div class="row">
    <div id="publications" class="col-lg-6">
      <h2 class="text-lg-center">Recent Publications</h2>
      {{component 'publication-list' model=model.publications}}
    </div>
    <div id="highlights" class="col-lg-6">
      <h2 class="text-lg-center">Highlights</h2>
      {{component 'highlight-accordion' model=model.highlights}}
    </div>
  </div>
</div>
