<div class="jumbotron jumbotron-people-banner jumbotron-fluid">
  <div class="container">
    <div class="jumbotron-content text-light">
      <h1 class="display-3"></h1>
      <p class="lead"></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 mt-3">People</h1>

      <section id="faculty" class="py-3">
        <h2 class="mt-3">Faculty</h2>

        <div class="profile d-flex flex-row card mt-3">
          <div class="image steven-low"></div>
          <div class="card-body">
            <h4>Steven H. Low</h4>
            Professor of Computer Science and Electrical Engineering
          </div>
        </div>

        <section class="py-3">
          <h3 class="mt-3">Caltech Collaborators</h3>
          {{#each people.facultyCollaborators as |person|}}
            {{current-member-card model=person}}
          {{/each}}
        </section>

      </section>

      <section class="py-3">
        <h2>Admin</h2>

        {{#each people.admin as |person|}}
          {{current-member-card model=person}}
        {{/each}}

      </section>

      <section id="current-memebers" class="py-3">
        <h2 class="my-3">Current Members</h2>

        <section class="py-3">
          <h4>Postdoctoral Researchers</h4>

          {{#each people.postdocs as |person|}}
            {{current-member-card model=person}}
          {{/each}}
        </section>

        <section class="py-3">
          <h4>Graduate Students</h4>

          {{#each people.graduates as |person|}}
            {{current-member-card model=person}}
          {{/each}}
        </section>

        {{#if (gt people.visitingPhDStudents.length 0)}}
          <section class="py-3">
            <h4>Visiting Ph.D. Students</h4>

            {{#each people.visitingPhDStudents as |person|}}
              {{current-member-card model=person}}
            {{/each}}
        </section>
        {{/if}}

      </section>

      <section class="py-3">
        <h2 class="my-3">Previous Members</h2>

        <section class="py-3">
          <h4>Postdoctoral Researchers</h4>

          <div class="card-columns flex-lg-wrap visitors">
            {{#each people.pastPostdocs as |person|}}
              {{previous-member-card model=person}}
            {{/each}}
          </div>
        </section>

        <section class="py-3">
          <h4>Graduate Students</h4>

          <div class="card-columns flex-lg-wrap visitors">
            {{#each people.pastGraduateStudents as |person|}}
              {{previous-member-card model=person}}
            {{/each}}
          </div>
        </section>

        <h4 class="my-3">Visitors</h4>

        <section class="py-3">
          <h5>Faculty</h5>

          <div class="card-columns flex-lg-wrap visitors">
            {{#each people.pastVisitingFaculty as |person|}}
              {{previous-member-card model=person}}
            {{/each}}
          </div>
        </section>

        <section class="py-3">
          <h5>Ph.D. Students</h5>

          <div class="card-columns flex-lg-wrap visitors">
            {{#each people.pastVisitingPhDStudents as |person|}}
              {{previous-member-card model=person}}
            {{/each}}
          </div>
        </section>
      </section>

    </div>
  </div>
</div>
